*, *::after, *::before, * li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12%;
    background-color: #1f2937;
}

.link-container  {
    display: flex;
}

 .image-container {
    align-self: center;
}  


.link-container li, .user-feature li {
    padding: 0 3.8rem;

}

.link-container, .user-feature {
    padding: 0 1.5rem;
    font-size: 1.8rem;
    color: #e5e7eb;
}


.user-feature {
    display: flex;
}