*, *::after, *::before, * li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: 1px solid #e5e7eb;
}

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* ----------------------- */
html {
    font-size: 62.5%;
}
/* Media-querries */

/* small-screen */

@media screen and (max-width: 390px) {
    .navbar {
        padding: 0 1.5rem;
    }
 
    .link-container a, .user-feature a {
        padding: 0 0.5rem;
        font-size: 1.2rem;
    }
}
/* average-mobile size */

@media screen and (min-width: 391px) {
    
    .navbar {
        padding: 0 1.4rem;
    }
    
    .link-container a, .user-feature a {
        padding: 0 0.6rem;
        font-size: 1.4rem;
    }
}

/* Tablets and large smartphone */

@media screen and (min-width: 481px) {
    .navbar {
        padding: 0 1.3rem;
    }
    .link-container a, .user-feature a {
        font-size: 1.8rem;
        padding: 0 1rem;
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        padding: 0 1.1rem;
    }
    .link-container a, .user-feature a {
        font-size: 2rem;
        padding: 0 1.5rem;
    }

}


.navbar {
    width: 100vw;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;

}

#odin-svg {
    height: 45px;
    padding-left: 5rem;
}

ul.link-container  {
    display: flex;
    padding-right: 2rem;
}

ul.link-container li {
    padding: 0 3rem;
} 

.link-container  a {
    font-family: Roboto, sans-serif;
    font-size: 18px; 
    color: #e5e7eb;
}

.link-container  a:hover {
    color: #ced0d3;
}

.hero-section {
    width: 100%;
    height: 50%;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left-hero {
    width: 550px;
    height: 200px;
    margin-left: 20rem;
}

#hero-title {
    padding-bottom: 5px;
    font-family: Roboto, sans-serif;
    font-size: 48px;
    color: #f9faf8;
    font-weight: exta-bold;
}

#hero-caption {
    line-height: 1.6;
}

#hero-caption, .img-placeholder p {
    font-family: 'Open Sans';
    font-size: 15px;
    color: #e5e7eb;
}

#btn-one {
    cursor: pointer;
    width: 9rem;
    height: 3rem;
    margin-top: 15px;
    border: none;
    border-radius: 3px;
    color: #e5e7eb;
    background-color: rgb(28, 112, 148);
}

.img-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 175px;
    background-color: #626262;
    text-align: center;
    margin-right: 25rem;
}

